@model Ak.ElVegetarianoFurio.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Kontoeinstellungen bearbeiten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Passwort:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Passwort ändern", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Passwort anlegen", "SetPassword")
            }
            ]
        </dd>
        <dt>Zahlungsdaten</dt>
        <dd>[@Html.ActionLink("Zahlungsdaten verwalten", "Index", "PaymentInfo")]</dd>
        <dt>Lieferadresse</dt>
        <dd>[@Html.ActionLink("Lieferadresse verwalten", "Index", "DeliverAddress")]</dd>
        <dt>Rechnungen</dt>
        <dd>[@Html.ActionLink("Rechnungen verwalten", "Index", "Invoices")]</dd>
        <dt>Coupons</dt>
        <dd>[@Html.ActionLink("Übersicht", "Index", "Coupon")] 
            @if(ViewBag.ShowCouponLink)
            {
            <p>[@Html.ActionLink("Neuen Coupon anlegen", "Create","Coupon")]</p>
            }
            else 
            {
            <p class="text-muted">[Es kann maximal ein Coupon pro Monat angelegt werden. Versuche es nächsten Monat noch einmal]</p>
            }
        </dd>

    </dl>
</div>
