@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>El Vegetariano Furio</h1>
    <p class="lead">Spanische Speisen ohne Fleisch. Schnell und einfach online bestellen</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Speisekarte</h2>
        <p>
            Unsere Speisen sind mit Liebe und besten Zutaten zubereitet.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Menu")">Zur Karte</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tiefgefroren und doch frisch zu dir</h2>
        <p>Unsere Speisen werden frisch, mit Liebe und besten Zutaten für dich zubereitet. Anschließend werden Sie schock-gefrostet und in speziellen Iso-Behältern zu dir geschickt.</p>
    </div>
    <div class="col-md-4">
        <h2>Nicht zu Hause? Kein Problem.</h2>
        <p>Durch unsere innovativen Behälter bleiben die Speisen bis zu 5 Tage lang frisch, selbst im Briefkasten!</p>
    </div>
</div>
<div class="alert alert-info">
    <strong>Ab in den App Store!</strong> Teste unsere neue App!
</div>
